@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-family-sans: 'Source Sans 3', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}